<% const rootpath= '../../' %>
<%- include(rootpath+'includes/start.ejs') %>
  <%- include(rootpath+'includes/head.ejs') %>
    <%- include(rootpath+'includes/navigation.ejs') %>

        <main>
            <div class="panel-section">
                <div class="container">
                    <div class="section-header">
                        <h1>Admin Panel</h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <div class="pannel-card rounded-4 overflow-hidden shadow">
                               <div class="pannel-img ">
                                <img class="img-fluid" src="https://www.shutterstock.com/image-photo/natural-cosmetic-cream-serum-skincare-260nw-1029009367.jpg" alt="">
                            </div>
                            <div class="pannel-action text-center top-50 start-50 translate-middle">
                                <a class="btn btn-primary rounded-pill " href="/admin/addproduct">Add Product</a>
                            </div>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </main>

    <%- include(`${rootpath}includes/script.ejs`) %>
<%- include(`${rootpath}includes/end.ejs`) %>
    
    