<% const rootpath= '../../' %>
<%- include(rootpath+'includes/start.ejs') %>
  <%- include(rootpath+'includes/head.ejs') %>
    <%- include(rootpath+'includes/navigation.ejs') %>

    <main>
        <div class="productslist-section">
            <div class="container">
                <div class="section-header">
                    <h1>Products</h1>
                   </div>
                   <% if (products.length>0) { %>
                    
                    <div class="row">
                        <% products.forEach(product => { %>
                            <div class="col-4 mb-3">
                                <div class="product-item rounded-3 overflow-hidden shadow">
                                    <div class="product-img">
                                         <img class="img-fluid" src=<%= product.imageurl %> alt="">
        
                                    </div>
                                    <div class="product-detail p-3 text-center">
                                        <h1><%= product.title %></h1>
                                        <p>
                                            <% if (product.description.length>35) { %>
                                                <%= product.description.slice(0,100) %> ...
                                            <% } else {%>
                                                <%= product.description %> 
                                            <% } %>

                                        </p>
                                        <h3 class="fw-bold text-center"><%= product.price %>$</h3>
                                      
                                    </div>
                                    <div class="product-actions p-2 text-center ">
                                        
                                        <a href="/addtocart/<%= product.id %>" class="btn btn-outline-success rounded-pill mb-2">
                                            Add to Cart
                                        </a>
                                    
                                        <a href="/productdetail/<%= product.id %>" class="btn btn-outline-secondary rounded-pill mb-2">
                                            Show Product
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                   <% } else{ %>
                    <h1>No Products Found</h1>
                    <% } %> 
            </div>
        </div>

</main>

    <%- include(`${rootpath}includes/script.ejs`) %>
<%- include(`${rootpath}includes/end.ejs`) %>
    