<% const rootpath= '../../' %>
<%- include(rootpath+'includes/start.ejs') %>
  <%- include(rootpath+'includes/head.ejs') %>
    <%- include(rootpath+'includes/navigation.ejs') %>

<main>
    <div class="product-detail">
        <div class="container">
        <div class="section-header">
            <h1>Product Detail</h1>
        </div>
        <div class="detail-item shadow p-3 overflow-hidden">
            <div class="product-img text-center">
            <img class="w-100" src=<%=product.bannerimageurl  %> alt="">
        </div>
        <div class="description mt-3 text-center">
            <h1 ><%=product.title  %> </h1>
            <h3 class="fw-bold "><%=product.price  %> $</h3>
            <p class="lead"><%=product.description  %> </p>
        </div>
        <div class="action text-center">
            <a  class="btn btn-lg btn-outline-success rounded-pill mb-2">
                Add To Cart
            </a>
           
        </div>
        </div>
    </div>
    </div>
</main>


    <%- include(`${rootpath}includes/script.ejs`) %>
<%- include(`${rootpath}includes/end.ejs`) %>